<div class="content">
  <div class="sidebar-valheim"></div>
  <div class="content">
    <div class="game-view">
      <div class="game-header">
        <span class="server-name">SpawnHouse PVP Server</span>
        <span class="players">Players Online 0/10</span>
        <span class="description"
          >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias
          mollitia in dignissimos culpa.</span
        >
      </div>

      <div class="game-options">
        <div class="col-xl">
          <div class="option">
            <input type="checkbox" id="box-1" ng-model="mumble.checked" />
            <label for="box-1"
              >Launch Mumble for proximity voice chat (Recommended)
            </label>
          </div>
          <div class="option" style="padding-left: 35px">
            <div class="option" ng-if="mumble.checked">
              Username:
              <input type="text" id="textbox-1" ng-model="mumble.userName" />
            </div>
          </div>
        </div>
        <div class="col">
          <button
            ng-if="statusId <= 5"
            ng-click="download()"
            ng-class="{disabled:statusId > 1}"
            ng-disabled="statusId > 1"
          >
            {{statusList[statusId]}}
          </button>
          <button
            ng-if="statusId >= 6"
            ng-class="{disabled:statusId >= 9 && statusId <=11}"
            ng-disabled="statusId >= 9 && statusId <=11"
            ng-click="play()"
          >
            {{statusList[statusId]}}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
