<div class="content">
  <div class="sidebar-valheim"></div>
  <div class="content">
    <div class="game-view">
      <div class="game-header">
        <span class="server-name">SpawnHouse PVP Server</span>
        <span class="players">Players Online 0/10</span>
        <span class="description"
          >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias
          mollitia in dignissimos culpa.</span
        >
      </div>

      <div class="game-options">
        <div class="col-xl">
          <div class="option">
            <input type="checkbox" id="box-1" ng-model="mumble.checked"/>
            <label for="box-1">Launch Mumble for proximity voice chat (Recommended)</label>
            <input type="textbox" id="textbox-1" ng-if="mumble.checked" ng-model="mumble.userName"/>
            <label for="box-1" ng-if="mumble.checked">Mumble UserName</label>
          </div>
        </div>
        <div class="col">
          {{statusList[statusId]}}
          <button ng-if="statusId <= 5" ng-click="download()" ng-disabled="statusId > 1">Download</button>
          <button ng-if="statusId >= 6" ng-disabled="statusId >= 9 && statusId <=11" ng-click="play()">Play</button>
        </div>
      </div>
    </div>
  </div>
</div>
