<!-- <h1>Splash</h1>
<h2>{{splashtext}}</h2>
<button ng-click="startsplash('new splash text')"></button> -->

<section class="splash-screen">
  <div>
    <div class="blocks-wrapper">
      <div id="box1" class="block"></div>
      <div id="box2" class="block"></div>
      <div id="box3" class="block"></div>
      <div id="box4" class="block"></div>
      <div id="box5" class="block"></div>
      <div id="box6" class="block"></div>
      <div id="box7" class="block"></div>
      <div id="box8" class="block"></div>
    </div>
    <div class="logo">
      <span class="thin">Re</span><span class="thick">Spawn</span>
    </div>
  </div>
</section>
