<section class="home">
  <header>
    <div class="logo" ui-sref="home.library">
      <img src="assets/img/logo.png" alt="" /> ReSpawn
    </div>
    <div class="links">
      <ul>
        <li>
          <a onclick="window.api.send('appMinimiseReq', 'data')">&#8213;</a>
        </li>
        <li>
          <a onclick="window.api.send('appMaximiseReq', 'data')">&#10064;</a>
        </li>
        <li><a onclick="window.api.send('appQuitReq', 'data')">X</a></li>
      </ul>
    </div>
  </header>

  <ui-view style="flex: 1; display: flex; padding: 20px; width: 100%"></ui-view>

  <footer>
    <a
      style="-webkit-app-region: no-drag"
      href="discord://discord.com/invite/5MnXakYeQA"
      >Discord</a
    >
    | ReSpawn v1.1.1 by <strong>SpawnHouse</strong>
  </footer>
  <div class="phantasia"></div>
</section>
