<div class="content">
  <div class="sidebar-minecraft"></div>
  <div class="content">
    <div class="game-view">
      <div class="game-header">
        <span class="server-name">SpawnHouse PVP Server</span>
        <span class="players"
          >Players Online {{game.numbers.online_players}}/10</span
        >
        <span class="description"
          >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias
          mollitia in dignissimos culpa.</span
        >
      </div>

      <div class="game-options">
        <div class="col-xl">
          <div class="option">
            <input type="checkbox" id="box-1" />
            <label for="box-1">Game Option Label</label>
          </div>
          <div class="option">
            <input type="checkbox" id="box-2" />
            <label for="box-2">Game Option Label</label>
          </div>
          <div class="option">
            <input type="checkbox" id="box-3" />
            <label for="box-3">Game Option Label</label>
          </div>
          <div class="option">
            <input type="checkbox" id="box-4" />
            <label for="box-4">Game Option Label</label>
          </div>
          <div class="option">
            <input type="checkbox" id="box-5" />
            <label for="box-5">Game Option Label</label>
          </div>
          <div class="option">
            <input type="checkbox" id="box-6" />
            <label for="box-6">Game Option Label</label>
          </div>
        </div>
        <div class="col">
          <button ng-click="install()">Download</button>
          <button ng-click="play()">Play</button>
        </div>
      </div>
    </div>
  </div>
</div>