<div class="content">
  <div class="sidebar-minecraft"></div>
  <div class="content">
    <div class="game-view">
      <div class="game-header">
        <span class="server-name">SpawnHouse PVP Server</span>
        <span class="players"
          >Players Online {{game.numbers.online_players}}/25</span
        >
        <span class="description"
          >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias
          mollitia in dignissimos culpa.</span
        >
      </div>

      <div class="game-options">
        <div class="col-xl">
          <div class="option">
            <input type="checkbox" id="box-1" ng-model="mumbleChecked"/>
            <label for="box-1">Launch Mumble for proximity voice chat (Recommended)</label>
            <input type="textbox" id="textbox-1" ng-if="mumbleChecked" ng-model="mumbleUserName"/>
            <label for="box-1">Mumble UserName</label>
          </div>
        </div>
        <div class="col">
          {{statusText}}
          <button ng-if="1" ng-click="download()">Download</button>
          <button ng-if="1" ng-click="play()">Play</button>
        </div>
      </div>
    </div>
  </div>
</div>